doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-1.9.1.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/chat.js")
  body
    div(id="wrapper")
      div(id="mainhead") Hi. Welcome to <i>ChatMan</i>.

      div(id="allbuttons")
        button(id="createroom", type="button", class="btn btn-primary") Create a room

        button(id="adduser", type="button", class="btn btn-success") Create user

        button(id="leavechat", type="button", class="btn btn-danger") Leave this room

      div(id="upperbox")
        ul(id="roomlist")
          //li(class="roomname", data-roomname="none")

        div(id="chatrooms")
          //Nav Tabs
          ul(class="nav nav-tabs", id="tablist")

        div(id="chatwinAndMembers")
          // (Chat Window + Members) in one div corresponding to a chatroom
          div(class="tab-content", id="chatwindows")

      div(id="lowerbox")
        // actual message
        input(type="text", id="inputbox", data-roomname="none", placeholder="Enter message here. Press enter to send.")